* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
/*    overflow-x:hidden;*/
}


#section1 {
    width:1920px;
/*    margin:0 auto;*/
    position:relative;
    overflow:visible;
}

nav {
    width:580px;
    margin:40px auto 0px;
    position:relative;
}

nav h1 {
    width:580px;
}

nav h1 img {
    margin:0 200px;
    width:180px;
}


nav #navigation {
    display:block;
    width:545px;
    margin:25px auto 0;
    position:relative;
    padding:0 0 30px 0;
}

nav #navigation li.main_drop {
    text-align: center;
    display:inline;
    float:left;
}

nav #navigation li.main_drop:nth-child(2) {
    margin:0 168px;
}

nav #navigation a {
    font-size:18px;
    color:#555;
    font-family: 'Noto Sans KR', sans-serif;
}

nav #navigation a:hover {
    color:#78a55a;
}

div.nav_dropdown {
    position:absolute;
    z-index:9999;
    top:190px;
    width:1920px;
    background-color:white;
    border-top:2px solid #eee;
    border-bottom: 1px solid #eee;
    box-shadow: 0 25px 40px -20px #333;
    text-decoration: none;
}

div.nav_dropdown div {
    width:700px;
    margin:0 auto;
}

div.nav_dropdown ul {
    width:150px;
    float:left;
    padding:20px 40px 0px;
}


div.nav_dropdown ul li {
    display:block;
    padding-bottom:10px;
    text-align:center;
}

div.nav_dropdown ul li a {
    font-size:16px;
    color:#333;
    text-align:center;
    display:block;
    letter-spacing:-1px;
    padding-bottom:5px;
    display:inline-block;
    font-family: 'Noto Sans KR', sans-serif;
    
}

div.nav_dropdown ul li a:hover {
    font-weight:700;
}


div.nav_dropdown ul li a span {
    height:2px;
    background-color:#78a55a;
    width:0;
    display:block;
    margin-top:4px;
    -webkit-transition:width 0.5s;
    transition : width 0.5s;
}

div.nav_dropdown ul li a:hover span {
    width:100%;
}

section #sub_nav {
    width:95px;
    position:absolute;
    top:20px;
    right:370px;
}

section #sub_nav li {
    width:51px;
    display:inline;
}

section #sub_nav li:nth-child(1) {
    margin-right:24px;
}

section #sub_nav li a {
    font-size:14px;
    color:gray;
   font-family: 'Noto Sans KR', sans-serif;
    text-align:right;
}


#section6 {
    background:url(img/main_cs.png);
    width:100%;
    height:554px;
    position:relative;
}

#section6 div.sec6_left {
    margin-left:280px;
    position:relative;
    width:500px;
    margin-top:150px;
    margin-bottom:160px;
}

#section6 div.sec6_left div.cs_icon {
    float:left;
    margin-top:7px;
}

#section6 div.sec6_left div.cs_left_text {
    float:left;
    margin-left:20px;
}

#section6 div.sec6_left div.cs_left_text h2 {
    font-size:45px;
    font-weight:600;
    color:white;
}

#section6 div.sec6_left div.cs_left_text p {
    font-size:20px;
    opacity:60%;
    color:white;
    margin-top:25px;
    font-family: 'Noto Sans KR', sans-serif;
}

#section6 div.sec6_left div.cs_left_text img {
    position:absolute;
    bottom:40px;
}


#section6 div.sec6_right div.right_text1 {
    margin:102px 0 0 100px;
}

#section6 div.sec6_right div.right_text2 {
    margin:50px 0 0 100px;
}



#section6 div.sec6_right div.right_text1 p span {
    font-size:26px;
    font-weight:700;
}




body {
    background-color: #ffffff;
    font-family: 'Noto Sans KR', sans-serif;
}

#headimg{
     overflow-x:hidden;

    position: relative;
    padding-top: 63px;
    padding-bottom: 0px;
    width: 1920px;
    height: 539px;
    background-image: url(images/header_history.png.png);

    background-position: bottom;
    background-repeat: no-repeat;

}

#headimg span {
    display: block;
    font-size: 0;
    border-bottom: 5px solid white;
    width: 45px;
    margin-top: 30px;
    margin-left: 400px;
}

/*걸어온길*/
#headimg h2 {
    margin-top: 185px;
    margin-left: 400px;
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;

}

#headimg h3 {
    margin-top: 100px;
    margin-left: 800px;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;

}

#headimg p {
    margin-bottom: 0;
    margin-top: 20px;
    margin-left: 400px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}


#header_contents {
    
    width: 1920px;
/*    height: 1100px;*/
}

/*main*/

#main_text {
    text-align: center;
/*    margin-top: 50px;*/
    width: 1920px;
    height: 640px;
    background-image: url(images/icon1.png.png);
}

#title {
    font-size: 45px;
    color: #6AA64F;
    font-weight: 500;
    text-align: center;
    margin-top: 135px;
     margin-bottom: 66px;
}

#sub_Text {
    font-size: 30px;
    margin-top: 20px;

}

#sub_Text b {
    font-weight: 500;
    font-size: 35px;
    color: #6AA64F;
}

#sub_Text2 {
    margin-top: 20px;
    font-weight: Medium;

}

#sub_Title {
    text-align: left;
    margin-left: 320px;
    margin-top: 50px;
    font-size: 35px;
    color: #6AA64F;
}

#sub{
    text-align: center;
    width: 1920px;
    height:2306px;
    background-image: url(images/history1.png.png);
}

#main_contents{
    
    background-image: url(images/come1.png);
    width: 1920px;
    height:1210px;
}

#main_contents2{
    
    background-image: url(images/come2.png);
    width: 1920px;
    height:1210px;
}



/*걸어갈 길*/

#headimg2 {

    position: relative;
    margin;
    0px;
    
    padding-bottom: 0px;
    width: 1920px;
    height: 539px;
    background-image: url(images/header_history2.png.png);
    background-position: center;
    background-repeat: no-repeat;

}

#headimg2 h2 {
    padding-top: 185px;
    margin-left: 400px;
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;

}

#headimg2 span {
    display: block;
    font-size: 0;
    border-bottom: 5px solid white;
    width: 45px;
    margin-top: 30px;
    margin-left: 400px;
}

#headimg2 h3 {
    margin-top: 100px;
    margin-left: 800px;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;

}

#headimg2 p {
    margin-bottom: 0;
    margin-top: 20px;
    margin-left: 400px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

#main_text2{
    text-align: center;
    margin-top: 50px;
    width: 1920px;
    height: 640px;
    background-image: url(images/icon2.png.png);
}

#header_contents {
    width: 1920px;
    height: 1100px;
}

#sub_content_text {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    
}

#sub2{
    text-align: center;
    width: 1920px;
    height:1475px;
    background-image: url(images/history2.png.png);
}


#sub_content1{
    text-align: center;
}

#sub_content1 #sub_Title{
    margin-bottom: 70px;
}

#sub_content2{
    text-align: center;
}

#sub_content2 #sub_Title{
    margin-bottom: 122px;
}

#sub_content3{
    text-align: center;
    margin-bottom: 154px;
}

#sub_content3 #sub_Title{
    margin-top: 200px;
    margin-bottom: 126px;
}

#fake{
    width: 1920px;
    height: 2372px;
    background-image: url(images/come.png);
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #78a55a;
}