* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    overflow-x:hidden;
}


#section1 {
    width:1920px;
/*    margin:0 auto;*/
    position:relative;
    overflow:visible;
}

nav {
    width:580px;
    margin:40px auto 0px;
    position:relative;
}

nav h1 {
    width:580px;
}

nav h1 img {
    margin:0 200px;
    width:180px;
}


nav #navigation {
    display:block;
    width:545px;
    margin:25px auto 0;
    position:relative;
    padding:0 0 30px 0;
}

nav #navigation li.main_drop {
    text-align: center;
    display:inline;
    float:left;
}

nav #navigation li.main_drop:nth-child(2) {
    margin:0 168px;
}

nav #navigation a {
    font-size:18px;
    color:#555;
    font-family: 'Noto Sans KR', sans-serif;
}

nav #navigation a:hover {
    color:#78a55a;
}

div.nav_dropdown {
    position:absolute;
    z-index:9999;
    top:190px;
    width:1920px;
    background-color:white;
    border-top:2px solid #eee;
    border-bottom: 1px solid #eee;
    box-shadow: 0 25px 40px -20px #333;
    text-decoration: none;
}

div.nav_dropdown div {
    width:700px;
    margin:0 auto;
}

div.nav_dropdown ul {
    width:150px;
    float:left;
    padding:20px 40px 0px;
}


div.nav_dropdown ul li {
    display:block;
    padding-bottom:10px;
    text-align:center;
}

div.nav_dropdown ul li a {
    font-size:16px;
    color:#333;
    text-align:center;
    display:block;
    letter-spacing:-1px;
    padding-bottom:5px;
    display:inline-block;
    font-family: 'Noto Sans KR', sans-serif;
    
}

div.nav_dropdown ul li a:hover {
    font-weight:700;
}


div.nav_dropdown ul li a span {
    height:2px;
    background-color:#78a55a;
    width:0;
    display:block;
    margin-top:4px;
    -webkit-transition:width 0.5s;
    transition : width 0.5s;
}

div.nav_dropdown ul li a:hover span {
    width:100%;
}

section #sub_nav {
    width:95px;
    position:absolute;
    top:20px;
    right:370px;
}

section #sub_nav li {
    width:51px;
    display:inline;
}

section #sub_nav li:nth-child(1) {
    margin-right:24px;
}

section #sub_nav li a {
    font-size:14px;
    color:gray;
   font-family: 'Noto Sans KR', sans-serif;
    text-align:right;
}


#section6 {
    background:url(img/main_cs.png);
    width:100%;
    height:554px;
    position:relative;
}

#section6 div.sec6_left {
    margin-left:280px;
    position:relative;
    width:500px;
    margin-top:150px;
    margin-bottom:160px;
}

#section6 div.sec6_left div.cs_icon {
    float:left;
    margin-top:7px;
}

#section6 div.sec6_left div.cs_left_text {
    float:left;
    margin-left:20px;
}

#section6 div.sec6_left div.cs_left_text h2 {
    font-size:45px;
    font-weight:600;
    color:white;
}

#section6 div.sec6_left div.cs_left_text p {
    font-size:20px;
    opacity:60%;
    color:white;
    margin-top:25px;
    font-family: 'Noto Sans KR', sans-serif;
}

#section6 div.sec6_left div.cs_left_text img {
    position:absolute;
    bottom:40px;
}


#section6 div.sec6_right div.right_text1 {
    margin:102px 0 0 100px;
}

#section6 div.sec6_right div.right_text2 {
    margin:50px 0 0 100px;
}



#section6 div.sec6_right div.right_text1 p span {
    font-size:26px;
    font-weight:700;
}


/*여기까지 1팀*/

body {
    background-color: #ffffff;
    font-family: 'Noto Sans KR', sans-serif;
    
    
}

#headimg{
    
    position: relative;
    margin;0px;
padding-top: 63px;
    padding-bottom: 0px;
    width: 1920px;
    height: 541px;
    background-image: url(images/header_img.png);
    background-position: center;
    background-repeat: no-repeat;
    
}

#headimg p{
    margin-bottom: 0;
    margin-top: 150px;
    margin-left: 428px;
    font-size: 50px;
    color:#ffffff;
}
#headimg p b{
    font-size: 60px;
}

#header_contents{
    width: 1920px;
    height: 1100px;
}

#one{
    text-align: center;
    font-size: 40px;
    color:#595959;
    margin-bottom: 65px;
    margin-top: 100px;
}

#one b{
   font-weight: 500;
    color: #6aa64f;
    margin-bottom: 65px;
    font-size: 45px;
}

#two{
    text-align: center;
    font-size: 35px;
    color:#595959;
    margin-bottom: 145px;
    font-weight: 300;
}

#two b{
    font-weight: 300;
    color: #6aa64f;
    font-size: 40px;
}

#MVV{
    text-align: center;
}

#title{
    position: relative;
    width: 1920px;
    height: 335px;
    background-image: url(images/title1.png);
    float: left;
   
}

#title_text{
    margin-top: 75px;
}



#title p{
    text-align: center;
    color: #ffffff;
}

#text1{
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 30px;
}

#text2{
    font-size: 35px;
    font-weight: 400;
}

#haenhang{
    width: 1920px;
    height: 950px;
    background-color: #f5f3ef;
    position: relative;
    float: left;
}

#haenhang_img{
    text-align: center;
    line-height: 950px;
}

#haenhang_img img{
   vertical-align: middle;
}

#haccp{
    position: relative;
    width: 1920px;
    height: 1950px;
    float:left;
}

#haccp h2{
    font-size: 45px;
    font-weight: 500;
    color: #6aa64f;
    text-align: center;
    margin-top: 133px;
    margin-bottom: 26px;
}

#haccp p{
    text-align: center;
    font-size: 30px;
    font-weight: 300;
}

#haccp p b{
    font-size: 35px;
    color: #6aa64f;
    font-weight: 400;
    
}

#haccp_img{
    text-align: center;
    margin-top: 165px;
}

#header4{
    position: relative;
    float: left;
    width: 1920px;
    height: 244px;
    background-image: url(images/img3.png);
    background-position: center;
    
  
}

#border1{
    line-height:240px;
    text-align: center;
}
#header4 img{
    vertical-align: middle;
    
}




#header5{
    position: relative;
    float: left;
    width: 1920px;
    height: 1000px;
    background-color:#ffffff; 
    
}
#img5{
    text-align: center;
    line-height: 1000px;
    
}

#img5 img{
    vertical-align: middle;
    
}

#header6{
    position: relative;
    float: left;
    width: 1920px;
    height: 1800px;
    background-color:#f6f4f0; 
    
}

#border2{
    margin-top: 140px;
    margin-left: 330px;
}

#img6{
    text-align: center;
    line-height: 1500px;
    
}

#img6 img{
    vertical-align: middle;
    
}

#footer{
    width: 1920px;
    height: 351px;
}



a:visited {text-decoration: none; }
a:hover {text-decoration: none; color: #78a55a;}


